

pre pre
{
  background-color: #f0f0f0;
  padding: 1em;
}

pre .cmd
{
  color: #060;
  font-weight: bold;
}


pre .comment
{
  color: #888;
} 

a, a:visited, a:hover
{
  color: #060;
}

a:hover
{
  background-color: #f0f0f0;
}